.additional-goods {
  background-color: #ffffff;
}

.additional-goods__title {
  margin-top: 55px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
}

.additional-goods__gift {
  height: 290px;
  margin-top: 40px;
  background-color: #5b9f32;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional-goods__gift-promo {
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #ffffff;
}
