.advantages-list {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-list__item {
  margin-bottom: 20px;
}

.advantages-list__description {
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #111111;
  font-size: 14px;
  line-height: 18px;
}

.advantages-list__image {
  background-color: #68b738;
}
