.advantages {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  margin-top: 18px;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .advantages {
    min-width: 768px;
  }

  .advantages__wrapper {
    width: 708px;
    padding-top: 26px;
  }

  .advantages__title {
    width: 375px;
    margin-bottom: 73px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    padding: 0;
  }

  .advantages__wrapper {
    width: 1220px;
    padding-top: 0;
    padding-left: 0;
  }

  .advantages__title {
    margin-bottom: 71px;
    margin-top: 0;
  }
}
