.button {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #8fc46e;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 247px;

    &--form {
      width: 284px;
      padding-top: 15px;
      padding-bottom: 17px;
      font-size: 20px;
    }

    &--catalog {
      width: 634px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 170px;

    &--form {
      width: 570px;
    }

    &--catalog {
      width: 244px;
    }
  }
}
