.catalog-info-list {
  width: 140px;
  margin-left: 157px;
  margin-top: -73px;
  background-color: #ffffff;
}

.catalog-info__name {
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}

.catalog-info__field {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .catalog-info-list {
    width: 249px;
    margin: 0;
    margin-bottom: 29px;
    background-color: #f2f2f2;
    border-collapse: collapse;
  }

  .catalog-info__name {
    height: 30px;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog-info__field {
    height: 30px;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .catalog-info-list {
    width: 170px;
    margin-top: 0;
  }
}
