.catalog {
  width: 320px;
  background-color: #ffffff;
  margin: 0 auto;
}

.catalog__title {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0;
  border-top: 1px solid #e6e6e6;
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;
  }

  .catalog__title {
    width: 708px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-top: none;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
  }

  .catalog__title {
    width: 1220px;
  }
}
