.catalog-info-list {
  width: 141px;
  margin-left: 99px;
  margin-top: -71px;
  background-color: #ffffff;
  list-style: none;
}

.catalog-info-list__item {
  display: flex;
  justify-content: space-between;
}

.catalog-info-list__name {
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}

.catalog-info-list__field {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .catalog-info-list {
    width: 249px;
    margin: 0;
    margin-bottom: 32px;
    padding-left: 0;
    background-color: #f2f2f2;
    border-collapse: collapse;
  }

  .catalog-info-list__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog-info-list__name {
    height: 23px;
    font-size: 16px;
    padding-top: 8px;
  }

  .catalog-info-list__field {
    height: 23px;
    font-size: 16px;
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-info-list {
    width: 170px;
    margin-top: 0;
  }
}
