.catalog-page-main {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .catalog-page-main {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page-main {
    width: 1220px;
  }
}
