.catalog {
  width: 320px;
  background-color: #ffffff;
}

.catalog__title {
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  margin-top: 33px;
  margin-bottom: 43px;
  margin-left: 22px;
}
