.catalog-info-list {
  background-color: #ffffff;
}

.catalog-info__volume {
  font-family: "Arial Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-info__taste {
  font-family: "Arial Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-info__cost {
  font-family: "Arial Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-info__field {
  font-family: "Arial Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
