.contacts {
  font-family: "Oswaldregular", "Arial", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: white;
  padding-bottom: 2px;
}

.contacts__text {
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}
