.copyright {
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
  height: 78px;
}

.copyright__logo {
  display: flex;
  text-decoration: none;
}

.copyright__logo-text {
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  padding-top: 14px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-image {
  padding-top: 22px;
  margin-left: 130px;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .copyright {
    width: 166px;
    margin: 0;
  }

  .copyright__logo-text {
    margin-right: 0;
  }

  .copyright__logo-image {
    padding-top: 18px;
    margin-left: 14px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 186px;
  }

  .copyright__logo-text {
    margin-right: 0;
    margin-left: 23px;
  }

  .copyright__logo-image {
    display: block;
    width: 33px;
    height: 46px;
  }
}
