.copyright {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
  height: 78px;
  align-items: center;
}

.copyright__logo-text {
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

.copyright__logo-image {
  display: block;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 146px;
    margin: 0;
  }

  .copyright__logo-text {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 163px;
  }

  .copyright__logo-image {
    margin-left: 62px;
    display: block;
    width: 42px;
    height: 41px;
  }
}
