.example {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  padding-left: 20px;
  padding-top: 17px;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
}

.example__text {
  margin: 0;
  padding-top: 23px;
  padding-left: 21px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}

.example__cost {
  margin: 0;
  padding-left: 68px;
  padding-bottom: 34px;
  padding-top: 22px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.example__cat {
  padding-bottom: 21px;
}

.example__before-after-list {
  display: flex;
  margin: 0;
  padding-left: 65px;
  padding-right: 57px;
  padding-top: 12px;
  list-style: none;
}

.example__before-after-list-item {
  margin-right: 17px;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.example__before-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.example__after-slider {
  position: relative;
  width: 84px;
  height: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background-color: #ffffff;
  margin-top: 19px;

  &::before {
    content: "";
    top: 3px;
    left: 7px;
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 50px;
    background-color: #68b738;
  }
}

.example__after-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;
  }

  .example__intro {
    padding-bottom: 235px;
    background-color: #ffffffff;
  }

  .example__title {
    padding-left: 30px;
    padding-top: 44px;
    font-size: 60px;
    line-height: 60px;
    border-top: 1px solid #e6e6e6;
    background-color: #ffffffff;
  }

  .example__text {
    padding-top: 63px;
    padding-left: 30px;
    padding-right: 37px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__cost {
    width: 174px;
    padding-bottom: 30px;
    padding-top: 63px;
    padding-left: 137px;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
  }

  .example__image {
    width: 686px;
    height: 520px;
    margin-left: 47px;
    margin-top: -171px;
  }

  .example__cat {
    padding-bottom: 49px;
  }

  .example__before-after-list {
    padding-left: 99px;
    padding-right: 96px;
    padding-top: 0;
    margin-top: -6px;
  }

  .example__before-after-list-item {
    margin-right: 22px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .example__before-text {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;

    &--tablet {
      border-bottom: 1px dashed #bebebe;
    }
  }

  .example__after-text {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;

    &--tablet {
      border-bottom: 1px dashed #bebebe;
    }
  }

  .example__after-slider {
    position: relative;
    width: 429px;
    height: 7px;
    border: 0;
    border-radius: 50px;
    background-color: #dcdcdc;
    margin-top: 26px;

    &::before {
      content: "";
      top: -13px;
      left: 199px;
      position: absolute;
      width: 32px;
      height: 32px;
      border: 1px solid #cdcdcd;
      border-radius: 50px;
      background-color: #ffffff;
    }

    &::after {
      content: "";
      top: 0;
      left: 212px;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50px;
      background-color: #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    width: 1440px;
    margin-left: -110px;
  }

  .example__intro {
    width: 500px;
    padding-bottom: 0;
    background-color: #f2f2f2;
  }

  .example__cat {
    width: 686px;
  }

  .example__title {
    width: 1440px;
    padding-left: 110px;
    padding-top: 24px;
    padding-bottom: 76px;
    border-top: none;
    background-color: #ffffffff;
  }

  .example__text {
    width: 432px;
    padding-top: 72px;
    padding-left: 110px;
    padding-right: 37px;
  }

  .example__cost {
    width: 353px;
    margin-top: -27px;
    padding-left: 83px;
    padding-bottom: 0;
  }

  .example__cost-price {
    display: inline-block;
    padding-left: 58px;
  }

  .example__image {
    width: 686px;
    height: 520px;
    margin-left: 180px;
    margin-top: -34px;
  }

  .example__before-after-list {
    padding-left: 259px;
    padding-right: 96px;
    padding-top: 0;
    margin-top: 20px;
  }

  .example__before-after-list-item {
    margin-right: 21px;

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .example__before-text {
    font-size: 20px;
    line-height: 20px;
  }

  .example__after-text {
    font-size: 20px;
    line-height: 20px;
  }
}
