.example-list {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  list-style: none;
}

.example-list__item {
  margin: 0;
  padding: 0;
}

.example-list__parameter {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.example-list__text {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}
