.info-list {
  background-color: white;
}

.info-list__count {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}

.info-list__cost {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
}
