.info-list {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 12px;
  background-color: white;
}

.info-list__count {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
  text-align: left;
}

.info-list__cost {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .info-list {
    width: 229px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 18px;
    padding-left: 0;
    padding-right: 39px;

    &--water {
      width: 167px;
      padding-left: 0;
    }

    &--milk {
      width: 149px;
      padding-left: 0;
    }

    &--vitamin {
      width: 224px;
      padding-left: 0;
    }
  }

  .info-list__count {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  .info-list__cost {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .info-list {
    width: 325px;
    margin-top: 12px;
    padding-top: 13px;
    padding-bottom: 20px;
    padding-left: 90px;
  }

  .info-list__count {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  .info-list__cost {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}
