.page-header {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: $bc-color;
}

.page-header__logo {
  height: 40px;
  width: 190px;
}

.page-header__toggle {
  width: 40px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
  }
}
