.page-footer {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.page-footer__contacts-wrapper {
  min-width: 320px;
  width: 100%;
  background-color: #ffffff;
}

.page-footer__map {
  position: relative;
  width: 100%;
  border: none;
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 17px;
}

.page-footer__bottom-logo {
  display: block;
  width: 280px;
  padding-bottom: 28px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-width: 768px;
  }

  .page-footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 38px;
    padding-top: 37px;
    width: 708px;
    background-color: #f2f2f2;
  }

  .page-footer__bottom-logo {
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9px;
    border-bottom: none;
    text-align: inherit;
  }

  .page-footer__map {
    height: 400px;
    position: relative;
    min-width: 768px;
    width: 100%;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
    width: 100%;
  }

  .page-footer__contacts {
    position: absolute;
    top: 94px;
    left: 37px;
  }

  .page-footer__map {
    width: 100%;
  }

  .page-footer__bottom {
    width: calc(100% - 80px);
    margin: 0 auto;
    padding-left: 1px;
    padding-right: 0;
  }
}
