.page-main {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: $bc-color;
}

@media (min-width: $tablet-width) {
  .page-main {
    min-width: 768px;
    padding: 0 30px;
  }
}
