.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.page-footer__map {
  width: 100%;
}

.page-footer__bottom-logo {
  display: block;
  width: 128px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 32px;
  padding-left: 76px;
  padding-right: 76px;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 708px;
    height: 150px;
    background-color: #f2f2f2;
  }

  .page-footer__bottom-logo {
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 100%;
  }

  .page-footer__bottom {
    width: 1220px;
    height: 150px;
  }
}
