.page-main {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: $bc-color;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1440px;
  }
}
