.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: $bc-color;
}

.page-header__logo-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 13px;
  margin-top: 11px;
}

.page-header__logo {
  width: 190px;
}

.page-header__logo-image {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
    margin-top: 18px;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .page-header__logo-wrapper {
    display: flex;
    align-items: center;
    width: 173px;
    margin: 0;
    margin-bottom: 0;
  }

  .page-header__logo {
    width: 173px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
    margin-top: 0;
  }

  .page-header__logo-wrapper {
    margin-top: 48px;
    width: 202px;
  }

  .page-header__wrapper {
    width: 1220px;
  }

  .page-header__logo {
    width: 202px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
