.product-list {
  list-style: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.product-list__name {
  font-family: "Oswaldregular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}
