.program-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  background-color: white;
}

.program-selection__header {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-color: $bc-color;
}

.program-selection__intro {
  font-family: "Oswaldregular", "Arial", sans-serif;
  color: #ffffff;
  font-size: 33px;
  line-height: 36px;
  margin: 30px 10px 22px 10px;
  text-align: center;
  width: 247px;
}

.program-selection__slogan {
  font-family: "Oswaldregular", "Arial", sans-serif;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 10px 30px 36px;
  text-align: center;
  width: 200px;
}

.program-selection__selection {
  width: 280px;
  background-color: #68b738;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswaldregular", "Arial", sans-serif;
  border: none;
  padding: 15px 0;
  text-transform: uppercase;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .program-selection {
    width: 768px;
    margin: 0 auto;
  }

  .program-selection__header {
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 630px 600px;
    background-position-y: 110%;
    margin-left: 78px;
  }

  .program-selection__image {
    display: none;
  }

  .program-selection__intro {
    font-size: 55px;
    line-height: 55px;
    color: #111111;
    margin-bottom: 50px;
    width: 415px;
    text-align: left;
    margin-left: 0;
  }

  .program-selection__slogan {
    color: #111111;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    width: 283px;
    margin-left: 0;
    margin-right: 0;
  }

  .program-selection__selection {
    width: 246px;
    margin-bottom: 332px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    width: 1220px;
  }

  .program-selection__header {
    background-image: url("../../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 492px 455px;
    background-position-y: -18%;
    background-position-x: 57%;
    width: 1220px;
  }

  .program-selection__selection {
    width: 245px;
    margin-bottom: 215px;
  }
}
