.program-selection {
  display: flex;
  flex-direction: column;
}

.program-selection__header {
  min-height: 305px;
  margin-bottom: -2px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.program-selection__intro {
  text-align: center;
  margin: 0;
  margin-top: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #ffffff;
}

.program-selection__slogan {
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.program-selection__image {
  display: block;
  margin: 0 auto;
}

.program-selection__selection {
  width: 280px;
  margin: 0 20px;
  margin-top: 3px;
  margin-bottom: 22px;
  padding: 12px 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #8fc46e;
  }
}

@media (min-width: $tablet-width) {
  .program-selection {
    width: 768px;
    margin-bottom: 29px;
  }

  .program-selection__header {
    margin-bottom: 0;
    background-image: none;
  }

  .program-selection__intro {
    width: 415px;
    text-align: left;
    margin-left: 118px;
    padding-top: 35px;
    font-size: 59px;
    line-height: 58px;
    color: #111111;
  }

  .program-selection__slogan {
    text-align: left;
    width: 283px;
    margin-left: 118px;
    margin-right: 0;
    padding-top: 42px;
    padding-bottom: 69px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .program-selection__selection {
    position: absolute;
    top: 366px;
    left: auto;
    width: 246px;
    margin-left: 120px;
    margin-right: 0;
    padding: 17px 0;
    font-size: 20px;
  }

  .program-selection__image {
    width: 712px;
    height: auto;
    margin-top: -50px;
    margin-left: 27px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    width: 1220px;
    margin-bottom: 73px;
  }

  .program-selection__header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 0;
    background: none;
  }

  .program-selection__header-green {
    flex: 1 0 305px;
    background-color: #65a93c;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 720px 696px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }
  }

  .program-selection__selection {
    width: 245px;
    height: 51px;
    margin-left: 80px;
    font-size: 20px;
    left: auto;
    margin-top: 89px;
  }

  .program-selection__image {
    z-index: 2;
    display: block;
    order: 1;
    width: 552px;
    margin: 0;
    padding-left: 449px;
    background-color: transparent;
    margin-top: -330px;
  }

  .program-selection__intro {
    margin: 0;
    padding-top: 87px;
    padding-left: 81px;
  }

  .program-selection__slogan {
    margin-left: 0;
    padding-left: 81px;
    padding-top: 42px;
  }
}
