.program-selection-list {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $bc-color;
  list-style: none;
}

.program-selection-list__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.program-selection-list__item:last-child {
  margin-bottom: 0;
}

.program-selection-list__image {
  display: block;
  margin-left: 20px;

  &--pro-size {
    width: 67px;
    height: 94px;
    margin-left: 12px;
  }

  &--slim-size {
    width: 51px;
    height: 52px;
    margin-left: 21px;
    margin-top: 21px;
  }
}

.program-selection-list__name {
  margin-top: 29px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: #111111;

  &--pro-size {
    margin-left: 11px;
  }

  &--slim-size {
    margin-left: 18px;
  }
}

.program-selection-list__promo {
  width: 240px;
  margin: 0 auto;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial Regular", "Arial", sans-serif;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.program-selection-list__toggle {
  text-align: left;
  width: 240px;
  height: 16px;
  padding: 0;
  padding-top: 11px;
  padding-left: 19px;
  padding-bottom: 31px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .program-selection-list {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .program-selection-list__item {
    width: 708px;
    margin-bottom: 30px;
  }

  .program-selection-list__image {
    order: 2;
    width: 200px;
    height: 212px;
    margin-top: -210px;
    margin-left: 97px;

    &--pro-size {
      width: 268px;
      height: 283px;
      margin-left: 10px;
    }

    &--slim-size {
      width: 197px;
      height: 253px;
      margin-left: 45px;
    }
  }

  .program-selection-list__name {
    order: -1;
    width: 370px;
    margin: 0;
    padding-top: 74px;
    padding-left: 53px;
    padding-bottom: 26px;
    font-size: 36px;
    line-height: 37px;
  }

  .program-selection-list__promo {
    order: 0;
    width: 375px;
    margin: 0;
    padding-left: 52px;
    padding-bottom: 42px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;

    &--pro-size {
      width: 344px;
    }
  }

  .program-selection-list__toggle {
    order: 1;
    width: 350px;
    height: 20px;
    margin: 0;
    padding-left: 52px;
    padding-bottom: 65px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection-list__toggle-slim {
    margin-left: 13px;
  }

  .program-selection-list__toggle-pro {
    margin-left: 11px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection-list {
    display: flex;
    width: 1220px;
    margin-top: 637px;
    padding: 0;
  }

  .program-selection-list__item {
    width: 570px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .program-selection-list__item:last-child {
    margin-right: 0;
  }

  .program-selection-list__name {
    width: 250px;
    margin: 0;
    padding-bottom: 26px;
    font-size: 36px;

    &--slim-size {
      padding-top: 77px;
      padding-left: 63px;
    }

    &--pro-size {
      padding-top: 77px;
      padding-left: 46px;
    }
  }

  .program-selection-list__promo {
    width: 462px;
    margin: 0;
    padding-left: 53px;
    padding-top: 35px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .program-selection-list__toggle {
    height: 20px;
    margin: 0;
    padding-left: 52px;
    padding-bottom: 67px;
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection-list__toggle-slim {
    margin-left: 13px;
  }

  .program-selection-list__toggle-pro {
    margin-left: 11px;
  }

  .program-selection-list__image {
    width: 100px;
    height: 105px;
    margin-left: 50px;
    margin-top: 40px;

    &--pro-size {
      width: 134px;
      height: 117px;
      margin-left: 34px;
      margin-top: 36px;
    }

    &--slim-size {
      width: 101px;
      height: 111px;
      margin-left: 50px;
    }
  }
}
