.site-list {
  display: flex;
  flex-direction: column;
  background-color: $bc-color;
  margin: 0;
  padding: 0;
}

.site-list__item {
  width: 320px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Oswaldmedium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 440px;
    flex-direction: row;
  }

  .site-list__item {
    width: 150px;
    font-size: 18px;
    line-height: 24px;
  }
}
