.site-list {
  display: flex;
  flex-direction: column;
  background-color: $bc-color;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  width: 320px;
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid #e6e6e6;
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswaldmedium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 440px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .site-list__item {
    width: auto;
    border-top: 0;
  }

  .site-list__item-link {
    font-size: 18px;
    line-height: 25px;
    color: #222222;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 2px solid #68b738;
    }
  }

  .site-list__item:last-child {
    border-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 478px;
    background-color: transparent;
    margin-top: 50px;
  }

  .site-list__item-link {
    font-size: 20px;

    &--white {
      color: #ffffff;

      &:active {
        border-bottom: 2px solid #ffffff;
      }
    }
  }
}
